
.header {
    nav {
        padding: 2em;
    }

    &__logo {
        img {
            width: 8.8125rem;
            height: 1.375rem;

        }
    }

    &__menu {
        >span {
            display: block;
            width: 46px;
            height: 2px;
            background-color: $darkBlue;
             margin-bottom: 8px;
            transition: all 300ms ease-in-out;

        }
    }
.topLineMenu{
    transform: rotate(-45deg);
    margin-bottom: 0px;
}
.bottomLineMenu{
    transform: rotate(45deg);
}
.hidden{
    margin-bottom: 0px;
    display: none;
}
    &__links {
        font-size: $font-small;
        a {
            transition: color 300ms ease-in-out;
            position: relative;
            font-size: 1.125rem;
              margin-right: 2em;
            
            &::before {
                content: "";
                display: block;
                width: 3.5em;
                height: 4px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -30px;
                background: linear-gradient(90deg, $limeGreen 0%, $brightCyan 100%);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover {
                color: $darkBlue;
                &::before {
                    opacity: 1;
                }

            }

        }
    }
    .header__menu-mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        z-index: 90;
        width: 90vw;
        height: 25rem;
        top: 6rem;
        left: 3.5vw;
        -webkit-box-shadow: 1px 97px 41px 83px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 1px 97px 41px 83px rgba(34, 60, 80, 0.2);
        box-shadow: 1px 97px 41px 83px rgba(34, 60, 80, 0.2);
        border-radius: 5px;
        background-color: $White;
        a{
            margin-bottom: .1em;
            margin-right: 0em;
            margin-top: -1em;
            &:first-child{
                padding-top: 1em;
            }
        }
        
        
    }

    &__cta {
        font-size: $font-small;
       
        transition: opacity 300ms ease-in-out;
        &:hover{
            color: $White;
             opacity: .65;
        }
    }
}
.overlay{
    width: 100vw;
    height: 100vh;
    background: linear-gradient($darkBlue, $VeryLightGray);
    position: absolute;
    top: 4em;
    z-index: 89;
    opacity: .5;
    
}