.hero {

    padding-bottom: 2em;
    min-height: 41.5rem;
    position: relative;
    background-image: url("https://sofyapim.github.io/frontend-mentor-easybank/images/bg-intro-desktop.svg");
    background-size: 120%;
    background-position: 33vw -33vh;
    background-repeat: no-repeat;

    &__image {
        position: relative;
        background-image: none;
        min-height: 19.5rem;
        overflow: visible;
        width: 100%;

        &::before {
            content: "";
            position: absolute;
            background-image: url("https://sofyapim.github.io/frontend-mentor-easybank/images/image-mockups.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 55vw -22vh;

            height: 280%;
            width: 100%;
        }
    }

    &__text {
        align-self: start;

        position: absolute;
        width: 27.5rem;
        left: 8rem;
        top: 10.625rem;

    }

    &__cta {
        font-size: $font-small;
        transition: opacity 300ms ease-in-out;

        &:hover {
            color: $White;
            opacity: .65;
        }
    }

    @include breakpoint-down(medium) {}
}

h1 {
    color: $darkBlue;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 2.25rem;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
        background-image: none;

        &__image {
            position: relative;
            overflow: hidden;
            background-image: url("https://sofyapim.github.io/frontend-mentor-easybank/images/bg-intro-mobile.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            min-height: 30.9375rem;
            width: 100%;

            &::before {
                content: "";
                position: absolute;
                background-image: url("https://sofyapim.github.io/frontend-mentor-easybank/images/image-mockups.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center bottom;
                height: 80%;
                width: 100%;
            }
        }

        &__text {
            text-align: center;
            position: relative;
            width: 90%;
            left: 5%;
            top: 0;
        }

        &__cta {
            font-size: $font-small;
            transition: opacity 300ms ease-in-out;

            &:hover {
                color: $White;
                opacity: .65;
            }
        }
    }


}