$darkBlue: hsl(233, 26%, 24%);
$limeGreen:  hsl(136, 58%, 47%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);
//font-sizes
$font-med:1.125rem;
$font-small:0.875rem;
