.header nav {
  padding: 2em;
}

.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__menu > span {
  display: block;
  width: 46px;
  height: 2px;
  background-color: #2d314d;
  margin-bottom: 8px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header .topLineMenu {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: 0px;
}

.header .bottomLineMenu {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .hidden {
  margin-bottom: 0px;
  display: none;
}

.header__links {
  font-size: 0.875rem;
}

.header__links a {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  position: relative;
  font-size: 1.125rem;
  margin-right: 2em;
}

.header__links a::before {
  content: "";
  display: block;
  width: 3.5em;
  height: 4px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  background: -webkit-gradient(linear, left top, right top, from(#32bd57), to(#2bb7da));
  background: linear-gradient(90deg, #32bd57 0%, #2bb7da 100%);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::before {
  opacity: 1;
}

.header .header__menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 90;
  width: 90vw;
  height: 25rem;
  top: 6rem;
  left: 3.5vw;
  -webkit-box-shadow: 1px 97px 41px 83px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 97px 41px 83px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  background-color: white;
}

.header .header__menu-mobile a {
  margin-bottom: .1em;
  margin-right: 0em;
  margin-top: -1em;
}

.header .header__menu-mobile a:first-child {
  padding-top: 1em;
}

.header__cta {
  font-size: 0.875rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__cta:hover {
  color: white;
  opacity: .65;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(#fafafa));
  background: linear-gradient(#2d314d, #fafafa);
  position: absolute;
  top: 4em;
  z-index: 89;
  opacity: .5;
}

.hero {
  padding-bottom: 2em;
  min-height: 41.5rem;
  position: relative;
  background-image: url("https://sofyapim.github.io/frontend-mentor-easybank/images/bg-intro-desktop.svg");
  background-size: 120%;
  background-position: 33vw -33vh;
  background-repeat: no-repeat;
}

.hero__image {
  position: relative;
  background-image: none;
  min-height: 19.5rem;
  overflow: visible;
  width: 100%;
}

.hero__image::before {
  content: "";
  position: absolute;
  background-image: url("https://sofyapim.github.io/frontend-mentor-easybank/images/image-mockups.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 55vw -22vh;
  height: 280%;
  width: 100%;
}

.hero__text {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  position: absolute;
  width: 27.5rem;
  left: 8rem;
  top: 10.625rem;
}

.hero__cta {
  font-size: 0.875rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.hero__cta:hover {
  color: white;
  opacity: .65;
}

h1 {
  color: #2d314d;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 2.25rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: none;
  }
  .hero__image {
    position: relative;
    overflow: hidden;
    background-image: url("https://sofyapim.github.io/frontend-mentor-easybank/images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 30.9375rem;
    width: 100%;
  }
  .hero__image::before {
    content: "";
    position: absolute;
    background-image: url("https://sofyapim.github.io/frontend-mentor-easybank/images/image-mockups.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 80%;
    width: 100%;
  }
  .hero__text {
    text-align: center;
    position: relative;
    width: 90%;
    left: 5%;
    top: 0;
  }
  .hero__cta {
    font-size: 0.875rem;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
  }
  .hero__cta:hover {
    color: white;
    opacity: .65;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Public Sans', sans-serif;
  font-size: 1.125rem;
  color: #9698a6;
  font-weight: 300;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #9698a6;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  padding: .875rem 2.187rem;
  border-radius: 50px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#32bd57), to(#2bb7da));
  background: linear-gradient(90deg, #32bd57 0%, #2bb7da 100%);
  border: 0;
  color: white;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  color: #2d314d;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 17rem;
  max-height: 17.25rem;
}

.container__card img {
  width: 4.25rem;
  margin-bottom: 2.5rem;
}

.container__card h3 {
  margin-bottom: 1.125rem;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

b {
  cursor: pointer;
}

.greenIcons {
  text-align: start;
  padding: 6.625rem;
  background-color: #f3f4f6;
}

.greenIcons__p {
  width: 39.75rem;
}

.greenIcons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4.4rem;
}

.greenIcons__container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 17rem;
  max-height: 17.25rem;
}

.greenIcons__container__card:not(:last-child) {
  margin-bottom: 2.25rem;
}

.greenIcons__container__card img {
  width: 4.25rem;
  margin-bottom: 2.5rem;
}

.greenIcons__container__card h3 {
  margin-bottom: 1.125rem;
}

@media (max-width: 768px) {
  .greenIcons {
    text-align: center;
    padding: 2.25rem;
  }
  .greenIcons__p {
    width: auto;
  }
  .greenIcons__container__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    max-height: 17.25rem;
  }
  .greenIcons__container__card img {
    width: 4.25rem;
    margin-bottom: 1.625rem;
  }
  .greenIcons__container__card h3 {
    margin-bottom: 1.625rem;
  }
}

.articles {
  padding: 6.625rem;
  background-color: #fafafa;
}

.articles h2 {
  margin-top: 0.875rem;
  margin-bottom: 3.3rem;
  text-align: start;
}

.articles__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.articles__container__card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 17rem;
  -webkit-box-shadow: 2px 2px 5px #9698a6;
          box-shadow: 2px 2px 5px #9698a6;
  margin-bottom: 2.25rem;
}

.articles__container__card img {
  width: 100%;
  height: 40%;
  margin-bottom: .23rem;
}

.articles__container__card h3 {
  font-weight: 300;
  margin-bottom: 1.125rem;
}

.articles__container__card h3:hover {
  color: #32bd57;
  cursor: pointer;
}

.articles__container__card .card__info {
  margin-top: 0rem;
  padding: 1.375rem;
  text-align: justify;
}

.articles__container__card .card__info .caption {
  font-size: .9rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .articles {
    padding: 2.25rem;
  }
  .articles h2 {
    text-align: center;
    margin-top: 5.25rem;
    margin-bottom: 1.825rem;
  }
  .articles__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles__container__card {
    width: 100%;
    height: auto;
  }
  .articles__container__card:not(:last-child) {
    margin-bottom: 2.25rem;
  }
  .articles__container__card img {
    width: 100%;
    height: 50%;
    margin-bottom: 0;
  }
  .articles__container__card h3 {
    margin-bottom: 1.125rem;
  }
  .articles__container__card .card__info {
    padding: 1rem;
  }
  .articles__container__card .card__info .caption {
    font-size: .7rem;
    margin-bottom: .8rem;
  }
}

.footer {
  background-color: #2d314d;
  color: #f3f4f6;
  padding: 2.5rem;
  text-align: center;
}

@media (min-width: 64em) {
  .footer {
    display: -ms-grid;
    display: grid;
  
        grid-template-columns: repeat(3, 1fr) 2fr;

        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "logo links1 links2 cta" "social links1 links2 cta";
    justify-items: start;
  }
}

.footer a {
  color: #9698a6;
  line-height: 2;
}

.footer__logo {
  display: inline-block;
}

@media (max-width: 63.9375em) {
  .footer__logo {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: start;
  }
}

@media (max-width: 63.9375em) {
  .footer__social {
    margin-bottom: 1.875rem;
  }
}

.footer__social a:not(:last-child) {
  display: inline-block;
  margin-right: 1rem;
}

@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.footer__links {
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 64em) {
  .footer__links {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (min-width: 64em) {
  .footer__links.col1 {
    grid-area: links1;
    margin-left: 7.8rem;
  }
}

@media (max-width: 63.9375em) {
  .footer__links.col2 {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__links.col2 {
    grid-area: links2;
    margin-left: 6rem;
  }
}

.footer__cta {
  font-size: 0.9rem;
}

@media (min-width: 64em) {
  .footer__cta {
    grid-area: cta;
    -ms-grid-column-align: end;
        justify-self: end;
    text-align: right;
  }
}

.footer__cta .button:hover {
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}

.footer__cta a.button {
  color: white;
  display: inline-block;
  margin-bottom: 1rem;
}

@media (max-width: 63.9375em) {
  .footer__cta a.button {
    margin-bottom: 1.875rem;
  }
}

.filter:hover {
  -webkit-filter: invert(46%) sepia(58%) saturate(1765%) hue-rotate(91deg) brightness(94%) contrast(87%);
          filter: invert(46%) sepia(58%) saturate(1765%) hue-rotate(91deg) brightness(94%) contrast(87%);
}
/*# sourceMappingURL=style.css.map */